<header class="fixed-top"
        [class.addBgColor]="scrolling || !maxBgInnerWidth"
        (window:resize)="onResize($event)"
>
  <div class="container top-header">
    <a href="#" [ngClass]="{ 'logo-wrap': true, 'logo-wrap-center': navMenuOpen}">
      <div class="logo-wrap-img"></div>
      <span>{{title | uppercase}}</span>
    </a>
    <nav class="d-none d-lg-flex">
      <ul class="navLinksMax d-flex">
        <li *ngFor="let link of links; let idx = index">
          <a href="#"
             [style.color]="idx === activeLink ? '#0DC78F' : null "
          (click)="toggleLink(idx)"
          >{{link}}</a>
        </li>
      </ul>
    </nav>
    <div [ngClass]="{ 'navBtn': true,
                      'd-flex': true,
                      'd-lg-none': true,
                      'navBtnOpen': navMenuOpen }"
      (click)="toggleNavBtn()"
    >
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div [ngClass]="{ 'bottom-header': true,
                    'hide-bottom-header': navMenuOpen,
                    'bottom-header-transition': isLoaded
                    } ">
    <ul class="mobileMenu" >
      <li *ngFor="let link of links; let idx = index">
        <a href="#"
           [class.headerActiveNavColor]="idx === activeLink "
           (click)="toggleLink(idx)"
        >{{link}}</a>
      </li>
    </ul>
  </div>
</header>


<!-- add active link class -->
