@import "src/variables";

ul {
  li {
    }
    a {
      color: $headerNavsColor;
      text-decoration: none;
      display: block;
      font-size: 18px;
      font-weight: 600;
      transition: all 0.2s ease-out;
      &:hover,
      &:focus {
        opacity: 0.8;
      }
    }
  }


header {
  transition: all 0.2s ease-in-out;
  min-height: 80px;
  .top-header {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Open Sans", sans-serif;
    z-index: 1;

    .logo-wrap {
      display: flex;
      align-items: center;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
      margin-left: 0;

      &-img {
        width: 43px;
        height: 43px;
        background-color: #C4C4C4;
        border-radius: 50%;
        margin-right: 12px;
      }
      span {
        color: $headerLogoColor;
        font-size: 18px;
        font-weight: 600;
      }
    }
    .logo-wrap-center {
      margin-left: calc(50% - 50px);
      //transform: translateX(-50%);
    }

    nav {
      ul {
        li {
          &:not(:last-child) {
            margin-right: 30px;
          }
        }
      }
    }
  }
}
.addBgColor {
  background-color:  $mainBgColor;
  //box-shadow: 0 0 20px 0 rgba(0,0,0,0.66);
}

.navBtn {
  width: 20px;
  height: 14px;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-out;
  z-index: 5;
  &:hover,
  &:focus {
    opacity: 0.8;
  }
  span {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s ease-out;
    &:first-child {
      top: 0;
    }
    &:nth-child(2) {
      top: 50%;
      margin-top: -1px;
    }
    &:nth-child(3) {
      bottom: 50%;
      margin-bottom: -1px;
    }
    &:last-child {
      bottom: 0;
    }
  }
}

.navBtnOpen {
  span {
    &:first-child {
      transform: translateY(-50px) scaleX(0);
      opacity: 0;
    }
    &:nth-child(2) {
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
    }
    &:last-child {
      transform: translateY(50px) scaleX(0);
      opacity: 0;
    }
  }
}

.bottom-header {
  overflow: hidden;
  //transition: all 2s ease-in-out;
  opacity: 0;
  margin-top: -150%;

  .mobileMenu {
    padding-top: 45px;
    padding-bottom: 10px;
    li {
      a {
        text-align: center;
        margin-bottom: 50px;
      }
    }
  }
}
.hide-bottom-header {
  margin-top: 0;
  opacity: 1;
}
.bottom-header-transition {
  transition: all 0.2s ease-in-out;
}


