@import "../../stylelist";
@import "../../variables";

h2, h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

section {
  padding-top: 150px;
  padding-bottom: 100px;

  h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    font-style: normal;
    font-size: 2.1875rem;
    line-height: 3rem;
    letter-spacing: -0.0954546px;
    color: $featuresHeaderColor;
  }

  @include ulList();

  .markets-wrap {
    margin-top: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      margin-bottom: 60px;
      font-size: 2.1875rem;
      letter-spacing: -0.0954546px;
      color: $marketsTitleColor;
    }
  }

}

@media screen and (max-width: 991px) {
  section {
    padding-top: 30px;
    padding-bottom: 100px;

    h2 {
      font-size: 1.5rem;
      justify-content: flex-start;
    }

    .markets-wrap {
      margin-top: 100px;
      h3 {
        font-size: 1.5rem;
      }
    }
  }
}
