section {
  padding-top: 150px;
  padding-bottom: 100px;

  h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2.1875rem;
    line-height: 3rem;
    letter-spacing: -0.0954546px;
  }

  ul {
    li {
      display: flex;
      margin-bottom: 40px;


      .user-cart-item-icon {
        span {
          display: block;
          background-color: #c4c4c4;
          width: 47px;
          height: 47px;
          border-radius: 50%;
          margin-right: 21px;
        }
      }
      .user-cart-item-content {
        h5 {
          font-family: Roboto, sans-serif;
          font-weight: 500;
          font-size: 1.375rem;
          line-height: 1.625rem;
          letter-spacing: 0.63px;
          margin-bottom: 20px;
          color: #fbfbfb;
        }
        p {
          font-family: "Open Sans", sans-serif;
          font-size: 1.0625rem;
          line-height: 1.4375rem;
          letter-spacing: 0.48px;
          font-weight: 300;
          color: #adadad;

        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  section {
    padding-top: 30px;
    padding-bottom: 30px;

    h2 {
      font-size: 1.5rem;
      justify-content: flex-start;
    }
  }
}
