<section class="container futures-comp">
  <div class="row">
    <div class="col">
      <h2>
        Ullamcorper dignissim
      </h2>
    </div>
  </div>
  <ul class="user-cart-list row">
    <li class="col-12 col-lg-4">
      <div class="user-cart-item-icon">
        <span></span>
      </div>
      <div class="user-cart-item-content">
        <h5 class="user-cart-list-content-title">
          Vestibulum rhoncus
        </h5>
        <p class="user-cart-list-content-desc">
          At auctor urna nunc id cursus metus
          aliquam. Sit amet aliquam id diam
          maecenas
          ultricies mi eget.
        </p>
      </div>
    </li>
    <li  class="col-12 col-lg-4">
      <div class="user-cart-item-icon">
        <span></span>
      </div>
      <div class="user-cart-item-content">
        <h5 class="user-cart-list-content-title">
          Vestibulum rhoncus
        </h5>
        <p class="user-cart-list-content-desc">
          At auctor urna nunc id cursus metus
          aliquam. Sit amet aliquam id diam
          maecenas
          ultricies mi eget.
        </p>
      </div>
    </li>
    <li  class="col-12 col-lg-4">
      <div class="user-cart-item-icon">
        <span></span>
      </div>
      <div class="user-cart-item-content">
        <h5 class="user-cart-list-content-title">
          Vestibulum rhoncus
        </h5>
        <p class="user-cart-list-content-desc">
          At auctor urna nunc id cursus metus
          aliquam. Sit amet aliquam id diam
          maecenas
          ultricies mi eget.
        </p>
      </div>
    </li>
  </ul>
  <div class="markets-wrap">
    <h3>Lorem Ipsum!</h3>
    <app-markets-comp></app-markets-comp>
  </div>
</section>
