@import "src/stylelist";

section {
  padding-top: 150px;
  padding-bottom: 100px;

  h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2.1875rem;
    line-height: 3rem;
    letter-spacing: -0.0954546px;
  }

  @include ulList();

}

@media screen and (max-width: 991px) {
  section {
    padding-top: 30px;
    padding-bottom: 30px;

    h2 {
      font-size: 1.5rem;
      justify-content: flex-start;
    }
  }
}
