@import "../../variables";

footer {
  background-color: #000;

  .container {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: $footerContentColor;
    text-align: center;
    padding-top: 52px;
    padding-bottom: 52px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 991px) {
  footer {
    .container {
      padding-top: 45px;
      padding-bottom: 45px;
    }
  }
}

@media screen and (max-width: 575px) {
  footer {
    .container {
      text-align: left;
    }
  }
}
