section {
  padding-top: 100px;
  padding-bottom: 100px;
  .fit-img {
    padding-right: 40px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .right-block {
    padding-left: 50px;
    padding-top: 20px;
  }
}
