<section class="container  media-second">
  <div class="row user-cart-wrap">
    <div class="col-6 d-none d-xl-block fit-img">
      <img src="../../assets/img/img-second-max.png" alt="img">
    </div>
    <div class="col right-block">
      <div class="row">
        <h2 class="col-12">
          Ut placerat orci nulla pellentes
        </h2>
        <div class="col-12 d-block d-xl-none img-on-mini">
          <img src="../../assets/img/img-second-mini.png" alt="img">
        </div>
        <div class="col-12">
          <ul class="user-cart-list">
            <li>
              <div class="user-cart-item-icon">
                <span></span>
              </div>
              <div class="user-cart-item-content">
                <h5 class="user-cart-list-content-title">
                  Vestibulum rhoncus
                </h5>
                <p class="user-cart-list-content-desc">
                  At auctor urna nunc id cursus metus
                  aliquam. Sit amet aliquam id diam
                  maecenas
                  ultricies mi eget.
                </p>
              </div>
            </li>
            <li>
              <div class="user-cart-item-icon">
                <span></span>
              </div>
              <div class="user-cart-item-content">
                <h5 class="user-cart-list-content-title">
                  Vestibulum rhoncus
                </h5>
                <p class="user-cart-list-content-desc">
                  At auctor urna nunc id cursus metus
                  aliquam. Sit amet aliquam id diam
                  maecenas
                  ultricies mi eget.
                </p>
              </div>
            </li>
            <li>
              <div class="user-cart-item-icon">
                <span></span>
              </div>
              <div class="user-cart-item-content">
                <h5 class="user-cart-list-content-title">
                  Vestibulum rhoncus
                </h5>
                <p class="user-cart-list-content-desc">
                  At auctor urna nunc id cursus metus
                  aliquam. Sit amet aliquam id diam
                  maecenas
                  ultricies mi eget.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
