<section class="slider-section container">
  <div class="row ">
    <h2 class="col-12 col-lg-6 col-xl-5">
      Lorem ipsum dolor sit amet
    </h2>
    <div class="col-12 col-lg-6 col-xl-7 slider-col">
      <span class="left-arrow" (click)="getToPrev()">&#60;</span>
      <span class="right-arrow" (click)="goToNext()">&#62;</span>
      <ngb-carousel #ngcarousel
        [showNavigationArrows]="false"
        [showNavigationIndicators]="false"
        interval="5000"
        [keyboard]="true"
        [pauseOnHover]="true"
      >
        <ng-template ngbSlide *ngFor="let item of sliderItems">
          <div class="">
            <h3 class="slider-item-title">
              {{item.title}}
            </h3>
            <p  class="slider-item-content">
              {{item.content}}
            </p>
          </div>
        </ng-template>

      </ngb-carousel>

    </div>
  </div>
</section>
