<section>
  <div class="container user-cart-wrap">
    <div class="row">
      <div class="col">
        <div class="row">
          <h2 class="col-12">
            Viverra tellus in hac habitasse platea dictumst
          </h2>
          <div class="col-12 d-block d-xl-none img-on-mini">
            <img src="../../assets/img/img1.png" alt="img">
          </div>
          <div class="col-12">
            <ul class="user-cart-list">
              <li>
                <div class="user-cart-item-icon">
                  <span></span>
                </div>
                <div class="user-cart-item-content">
                  <h5 class="user-cart-list-content-title">
                    Vestibulum rhoncus
                  </h5>
                  <p class="user-cart-list-content-desc">
                    At auctor urna nunc id cursus metus
                    aliquam. Sit amet aliquam id diam
                    maecenas
                    ultricies mi eget.
                  </p>
                </div>
              </li>
              <li>
                <div class="user-cart-item-icon">
                  <span></span>
                </div>
                <div class="user-cart-item-content">
                  <h5 class="user-cart-list-content-title">
                    Vestibulum rhoncus
                  </h5>
                  <p class="user-cart-list-content-desc">
                    At auctor urna nunc id cursus metus
                    aliquam. Sit amet aliquam id diam
                    maecenas
                    ultricies mi eget.
                  </p>
                </div>
              </li>
              <li>
                <div class="user-cart-item-icon">
                  <span></span>
                </div>
                <div class="user-cart-item-content">
                  <h5 class="user-cart-list-content-title">
                    Vestibulum rhoncus
                  </h5>
                  <p class="user-cart-list-content-desc">
                    At auctor urna nunc id cursus metus
                    aliquam. Sit amet aliquam id diam
                    maecenas
                    ultricies mi eget.
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-12   col-lg-6">
            <button type="button" class="action">Lorem ipsum
            </button>
          </div>
        </div>
      </div>
      <div class="col-6 d-none d-xl-block bg-image">
        <img src="../../assets/img/img1.png" alt="img">
      </div>
    </div>
  </div>
</section>
