<section class="container">
  <div class="row">
    <h2 class="col">
      Lorem Ipsum!
    </h2>
  </div>
  <div class="row">
    <div class="col d-none d-md-flex justify-content-center icons">
      <a href="#">
        <img src="../../assets/img/apple-max.png" alt="apple" class="p-2">
      </a>
      <a href="#">
        <img src="../../assets/img/google-max.png" alt="google" class="p-2">
      </a>
    </div>
    <div class="col d-flex  d-md-none justify-content-center icons">
      <a href="#">
        <img src="../../assets/img/google-min.png" alt="apple" class="p-2">
      </a>
      <a href="#">
        <img src="../../assets/img/apple-min.png" alt="google" class="p-2">
      </a>
    </div>
  </div>
</section>
