section {
  padding-top: 120px;
  padding-bottom: 150px;

  h2 {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2.1875rem;
    line-height: 3rem;
    letter-spacing: -0.0954546px;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
  }

  .icons {
    a {
      transition: all 0.2s ease-in-out;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  section {
    padding-top: 30px;
    padding-bottom: 100px;

    h2 {
      font-size: 1.5rem;
    }
  }
}
