<div class="banner ">
  <div  class="banner-bg d-none d-lg-block"></div>
  <div class="container">
    <div class="row flex-column title-wrap">
      <h1 class="col">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
      </h1>
      <img src="../../assets/img/bg_1.png" alt="bg" class="col d-block d-lg-none">
      <p class="col">
        Sed do eiusmod tempor incididunt ut labore et dolore
      </p>
      <div class="col">
        <div class="row d-flex align-items-center  markets-wrap">
          <div class="col-6 col-md-12 text-uppercase markets-wrap-title">
            Lorem ipsum:
          </div>
          <div class="col-6 d-flex justify-content-around  d-sm-none">
            <a href="#">
              <img src="../../assets/img/app-store-mini.png" alt="apple">
            </a>
            <a href="#">
              <img src="../../assets/img/play-market-mini.png" alt="google">
            </a>
          </div>
          <div class="col d-none  d-sm-flex justify-content-center markets-wrap-icons">
            <a href="#">
              <img [src]="appleBadgeUri" alt="google" class="p-2">
            </a>
            <a href="#">
              <img [src]="googleBadgeUri" alt="google" class="p-2">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
