<section class="banner" [class.banner-bg]="maxBgInnerWidth"
     (window:resize)="onResize($event)">
  <div class="container">
    <div class="row flex-column title-wrap">
      <h1 class="col">
        Lorem ipsum dolor sit amet, consectetur adipiscing
        elit
      </h1>
      <img src="../../assets/img/bg_1.png" alt="bg"
           class="col d-block d-lg-none">
      <p class="col">
        Sed do eiusmod tempor incididunt ut labore et dolore
      </p>
      <div class="col">
        <div class="row flex-lg-column align-items-center">
          <h2 class="col-6 col-md-5 col-lg mb-lg-4">Lorem ipsum:</h2>
          <div class="col-6 col-md-7 col-lg markets-wrap">
            <app-markets-comp></app-markets-comp>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
