@import "src/variables";

.banner-bg {
  background-image: url("../../assets/img/bg_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.banner {

  .container {
    padding-top: 250px;
    padding-bottom: 290px;
  }

  .title-wrap {
    h1, h2 {
      font-family: "Open Sans", serif;
      font-style: normal;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      color: $bannerHeaderColor;
    }
    h1 {
      font-size: 3.125rem;
      line-height: 4.4375rem;
      margin-bottom: 30px;
    }
    img {
      margin-bottom: 20px;
    }
    p {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 1.5rem;
      line-height: 1.5rem;
      text-align: center;
      color: $bannerContentColor;
      margin-bottom: 90px;
    }
    h2 {
      font-size: 1.125rem;
      line-height: 1.5625rem;
    }
    .markets-wrap {
      text-align: center;
    }
  }
}

@media screen and (max-width: 1200px) {
  .banner {
    .container {
      padding-top: 200px;
      padding-bottom: 200px;
    }
    .title-wrap {
      h1 {
        font-size: 3rem;
        line-height: 4.3rem;
        margin-bottom: 30px;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .banner {
    .container {
      padding-top: 90px;
      padding-bottom: 150px;
    }
    .title-wrap {
      h1 {
        font-size: 1.5rem;
        line-height: 2.0625rem;
      }
      h2 {
        text-align: left;
      }
      .markets-wrap {
        text-align: end;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .banner {
    .title-wrap {
      h1 {
        text-align: left;
      }
      p {
        text-align: left;
      }

    }
  }
}

@media screen and (max-width: 575px) {
  .banner {
    .container {
      padding-top: 90px;
      padding-bottom: 30px;
    }
    .title-wrap {
      h1 {
        font-size: 1.5rem;
        line-height: 2.0625rem;
      }
    }
  }
}


